<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="UTF-8">
        <title>{% block title %} Common Grounds {% endblock %}</title>
        {% block styles %} {% endblock %}
    </head>
    <body>
        {% block header %}
        <h1> DIY Projects </h1>
        <a href="{% url 'diyprojects:project_list' %}">All Projects</a>
        {% if user.is_authenticated %}
            | <a href="{% url 'diyprojects:project_add' %}">Add Project</a>
            | <strong>Hello, {{ user.profile.display_name }}</strong>
        {% else %}
            | <a href="/admin/login/">Login</a>
        {% endif %}
        {% endblock %}
        <div id="content">
            {% block content %} {% endblock %}
        </div>
        {% block scripts %} {% endblock %}
    </body>
</html>
