{% extends 'localevents/base_event.html' %}

{% block title %}Event Signup | {{ event.title }}{% endblock %}

{% block content %}
    <h3>Sign Up for {{ event.title }}</h3>
    <h4>{{ event.category }}</h4>
    <h4>{{ event.location }}</h4>

    <p>From {{ event.start_time }} to {{ event.end_time }}</p>
    <p>Capacity: {{ event.event_capacity }}</p>

    <hr>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Submit</button>
    </form>

    <a href="{% url 'localevents:event_detail' event.id %}">
        Return to event details
    </a>
{% endblock %}