{% extends 'merchstore/base_item.html' %}

{% block title %}Merch Store | Item List{% endblock %}

{% block content %}
    <h3>Item List</h3>
    {% if user.is_authenticated %}
        <p>Your Products</p>
        {% for product in products %}
            {% if product.owner == user %}
                <li>
                    <a href="{{ product.get_absolute_url }}">
                        <b>
                            {{ product.name }} | ₱{{ product.price }}
                        </b>
                    </a>
                    <br>
                    <br>
                    {{ product.type }}
                    <br>
                    Sold by: {{ product.owner }}
                    <br>
                    {{ product.get_status_display }}
                </li>
            {% endif %}
        {% endfor %}
        <br>
    {% endif %}
    <p>All Products</p>
    <ul>
        {% for product in products %}
            {% if product.owner != user %}
                <li>
                    <a href="{{ product.get_absolute_url }}">
                        <b>
                            {{ product.name }} | ₱{{ product.price }}
                        </b>
                    </a>
                    <br>
                    <br>
                    {{ product.type }}
                    <br>
                    Sold by: {{ product.owner }}
                    <br>
                    {{ product.get_status_display }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <br>
    <br>
    <a href="{% url 'merchstore:item_create' %}">Create a product</a>
{% endblock %}
