{% extends 'merchstore/base_item.html' %}

{% block title %}Merch Store | {{ product.name }}{% endblock %}

{% block content %}
    <h3>{{ product.name }}</h3>
    <p>{{ product.type }}</p>
    <p>₱{{ product.price }}</p>
    <p>Sold by {{ product.owner }}</p>
    <p>{{ product.stock }} Left | {{ product.get_status_display }}</p>
    <br>
    <p>{{ product.description }}</p>
    <br>
    {% if not is_owner %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {% if has_stock and user.is_authenticated %}
                <button type="submit">Buy product</button>
            {% else %}
                <button type="submit" disabled>Buy product</button>
            {% endif %}
        </form>
    {% endif %}
    <br>
    <br>
    {% if is_owner %}
        <a href="{% url 'merchstore:item_update' product.pk %}">Edit product</a>
        <br>
    {% endif %}
    <br>
    <a href="{% url 'merchstore:item_list' %}">Return to product list</a>
{% endblock %}
