{% extends 'merchstore/base_item.html' %}

{% block title %}Merch Store | Transaction List{% endblock %}

{% block content %}
    <h3>Your Transactions</h3>
    <ul>
        {% for transaction in transactions %}
            {% if transaction.product.owner == user %}
                <li>
                    {{ transaction.product.name }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <br>
    <br>
    <a href="{% url 'merchstore:item_list' %}">Return to item list</a>
{% endblock %}
